*{
    box-sizing: border-box;
}
html, body{
margin: 0;
padding: 0;
height: 100%;
width: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
line-height: 1.42;
}
ul,li{
list-style: none;
padding: 0;
margin: o;
}
a{
    text-decoration: none;
    color: #000000;
}
h1, h2 ,h3{
    margin: 0;
}
.wrapper{
min-height: 100%;
overflow: hidden;

}
.container{
    max-width: 855px;
    margin: 0 auto;
    padding: 0 5px;
}
.header{
padding: 30px 0px;

}
.header__burger{
width: 30px;
position: relative;

}
.header__burger-el,
.header__burger-el::before,
.header__burger-el::after{
height: 2px;
width: 100%;
background-color: #21243D;
position: absolute;

}
.header__burger-el{
    top: 10px;
}

.header__burger-el::before{
    content:"";
    top: -8px;
}
.header__burger-el::after{
    content:"";
    bottom: -8px;

}

.header__container{
max-width: 1032px;
display: flex;
justify-content: flex-end;

}
.nav__list{
display: flex;
font-style: normal;
font-weight: 500;
font-size: 20px;

}
.nav__ltem{
    margin-left:33px ;
}
.about__container{
    display: flex;
}
.about__avatar{
width: 243px;
height: 243px;
border-radius: 50%;
overflow: hidden;
flex-shrink: 0;
}
.about__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.button{
    z-index: 10;
    position: relative;
    background-color: #FF6464;
    padding: 8px;
    color: white;
    text-transform: uppercase;
    border-radius: 2px;
    
}
.recent-posts{
background-color: #EDF7FA;
padding: 27px 0px 32px;
color: #21243D;
}
.recent-post__top{
display: flex;
justify-content: space-between;
margin-bottom: 22px;
}
.recent-post__articles{
    display: flex;
}
.recent-post__article{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
border-radius: 4px;
padding: 24px 21px 30px 23px;
margin-right: 2%;
}
.recent-post__article:last-child{
    margin: 0;
}
.separator{
margin-top: 0px ;
}
.work__img{
    position: absolute;
    width: 246px;
    height: 180px;
    left: 146px;
    top: 1088px;
    
    background: url(image.png);
    border-radius: 6px;


}
.img-z{
position: absolute;
width: 30px;
height: 30px;
left: calc(50% - 30px/2 - 102px);
top: calc(50% - 30px/2 - 25px);
}
.footer{
    position: absolute;
width: 1152px;
height: 182px;
left: 0px;
top: 1859px;
}
.footer-title{
position: absolute;
height: 21px;
left: 40.28%;
right: 40.45%;
top: calc(50% - 21px/2 + 26.5px)
}